# ---- Nagios object definitions: Online Portfolio Website ----
# Place in /usr/local/nagios/etc/objects/portfolio.cfg
# and add: cfg_file=/usr/local/nagios/etc/objects/portfolio.cfg
# to nagios.cfg

define host {
    use                     linux-server
    host_name               portfolio-host
    alias                   Online Portfolio K8s Node
    address                 127.0.0.1        ; replace with node/minikube IP
    max_check_attempts      5
    check_period             24x7
    notification_interval   30
    notification_period     24x7
}

define service {
    use                     generic-service
    host_name               portfolio-host
    service_description     HTTP Website
    check_command           check_http!-p 30080 -u /health.html -e "OK"
    check_interval          1
    retry_interval          1
    max_check_attempts      3
}

define service {
    use                     generic-service
    host_name               portfolio-host
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
    check_interval          1
    retry_interval          1
}

define service {
    use                     generic-service
    host_name               portfolio-host
    service_description     Docker Daemon
    check_command           check_tcp!2375
    check_interval          5
}
